@s-accent: #22333b;
@header-bg: #4cb2ed;;
@header-color: #ffffff;
@top-bar: #c6bba9;
@import '../_init';
@import '../functions';

.body-font  {	font-family: "Quattrocento Sans", sans-serif; 	}
.title-font {	font-family: "Ovo", sans-serif;	    }
