.half_half{
  position: relative;
  .article-border{
    border: rgba(0, 0, 0, 0.7) 5px solid;
  }
  img{
    filter: brightness(.8);
    -webkit-filter: brightness(.8);
    &:hover{
      .transition(0.6s all ease);
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
  .hh-title {
    .transition(0.6s all ease);
    margin: 0px 8px;
    text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    position: absolute;
    background: fade(black, 60%);
    padding: 12px;
    border: darken(@background, 6%) 2px solid;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    .entry-title {
      font-size: 16px;
      a {
        color: @onaccent;
      }
    }
    @media screen and (min-width: 767px) {
      &:hover {
        .transition(0.6s all ease);
        transform: translateY(-8px);
        cursor: pointer;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  .page-template-template-blog-half_half-layout {
    article {
      width: 33.333%;
      .hh-title .entry-title {
        font-size: 14px !important;
      }
    }
  }
}