  .ribbon{
    padding: 50px;
    position: relative;
    .zig-zag{
      padding: 0px 15px !important;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0;
        right: 0px;
        top:0%;
        background-repeat: repeat;
        height: 20px;
        background-size: 8px 20px;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, lighten(@content,30%) 13px);
      }
    }
    .entry-header {
      background: lighten(@content, 30%);
      .entry-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 0px;
        padding: 20px 0px;
        a{
          color: @onaccent;
        }
      }
    }
    .featured-thumb{
      padding: 0px;
    }
  }

