.ribbon{
    position: relative;
    padding: 25px !important;
    .zig-zag{
      padding: 0px 15px !important;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0;
        right: 0px;
        top:0%;
        background-repeat: repeat;
        height: 20px;
        background-size: 6px 20px !important;
        background-image: radial-gradient(circle at 10px -5px, transparent 12px, lighten(@content,30%) 13px);
      }
    }
    .entry-header {
      background: lighten(@content, 30%);
      .entry-title {
        font-size: 18px !important;
        @media screen and (max-width: 500px) {
          font-size: 14px !important;
        }
        text-align: center;
        margin-bottom: 0px;
        padding: 20px 10px !important;
        a{
          color: @onaccent;
        }
      }
    }
    .featured-thumb{
      padding: 0px;
      img {
        .transition(0.4s all ease);
      }
      &:hover {
        img {
          .transition(0.4s all ease);
          -moz-filter: brightness(0.9);
          -webkit-filter: brightness(0.9);
          filter: brightness(0.9);

        }
      }
      @media screen and (max-width: 767px) {
        img{
          width: 100%;
        }
      }

    }
  }

