#client-showcase {
  background: @onaccent;
  text-align: center;
  float: none;
  .section-title {
    margin-bottom: 20px;
  }
  .client-logo {
    img {
	    width: 200px;
      margin: 10px;
    }
  }
  .cs-carousel-container {
    position: relative;
  }
}