#hero-widget {
  position: relative;
  padding: 40px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 767px) {
    .hero-container {
      display: flex;
      align-items: center;
    }
  }
  h3 {
    font-size: 36px;
  }
  .h-content {
    .excerpt {
      font-size: 17px;
      line-height: 27px;
      letter-spacing: 0.6px;
      margin-top: 20px;
      display: inline-block;
    }
    .more-button {
      padding: 10px 20px;
      background: @accent;
      color: white;
      display: inline-block;
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  .f-widget {
    .widget_media_gallery {
      .gallery {
        display: inline-block;
        margin-top: 20px;
      }
    }
  }

}